### Creating Dataframes

In [1]:
import pandas as pd
import numpy as np

#### using lists

In [9]:
student_marks = [
    [100,100,20],
    [90,80,15],
    [70,90,17]
]

pd.DataFrame(student_marks,columns=['Marks','IQ','Package'])

   Marks   IQ  Package
0    100  100       20
1     90   80       15
2     70   90       17

#### using dictionary

In [7]:
student_marks = {
    'Marks': [100,90,70],
    'IQ': [100,80,90],
    'Package': [20,15,17]
}

pd.DataFrame(student_marks)

   Marks   IQ  Package
0    100  100       20
1     90   80       15
2     70   90       17

#### using csv

In [10]:
df = pd.read_csv('./Data for repository.csv')
df

,Movie Name,Release Period,Whether Remake,Whether Franchise,Genre,New Actor,New Director,New Music Director,Lead Star,Director,Music Director,Number of Screens,Revenue(INR),Budget(INR)
0,Golden Boys,Normal,No,No,suspense,Yes,No,No,Jeet Goswami,Ravi Varma,Baba Jagirdar,5,5000000,85000
1,Kaccha Limboo,Holiday,No,No,drama,Yes,No,Yes,Karan Bhanushali,Sagar Ballary,Amardeep Nijjer,75,15000000,825000
2,Not A Love Story,Holiday,No,No,thriller,No,No,No,Mahie Gill,Ram Gopal Verma,Sandeep Chowta,525,75000000,56700000
3,Qaidi Band,Holiday,No,No,drama,Yes,No,No,Aadar Jain,Habib Faisal,Amit Trivedi,800,210000000,4500000
4,Chaatwali,Holiday,No,No,adult,Yes,Yes,Yes,Aadil Khan,Aadil Khan,Babloo Ustad,1,1000000,1075000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1693,Fight Club,Holiday,No,No,action,No,Yes,No,Zayed Khan,Vikram Chopra,Pritam,375,82500000,88862500
1694,Strings Of Paasion,Normal,No,No,drama,No,Yes,Yes,Zeenat Aman,Sanghamitra Chaudhuri,Dev Sikdar,10,8000000,70000
1695,Dunno Y Na Jaane Kyun,Normal,No,No,drama,No,No,No,Zeenat Aman,Sanjay Sharma,Nikhil,20,12500000,850000
1696,Taj Mahal - An Eternal Love Story,Normal,No,No,drama,No,Yes,No,Zulfi Sayed,Akbar Khan,Naushad,135,100000000,31065000
1697,Mr. Hot Mr. Kool,Normal,No,No,comedy,No,No,Yes,Zulfi Sayed,Partho Ghosh,Rishi - Ranjit,30,27500000,1300000

### Attributes

In [11]:
df.shape

(1698, 14)

In [13]:
df.dtypes

Movie Name            object
Release Period        object
Whether Remake        object
Whether Franchise     object
Genre                 object
New Actor             object
New Director          object
New Music Director    object
Lead Star             object
Director              object
Music Director        object
Number of Screens      int64
Revenue(INR)           int64
Budget(INR)            int64
dtype: object

In [14]:
df.index

RangeIndex(start=0, stop=1698, step=1)

In [16]:
df.columns

Index(['Movie Name', 'Release Period', 'Whether Remake', 'Whether Franchise',
       'Genre', 'New Actor', 'New Director', 'New Music Director', 'Lead Star',
       'Director', 'Music Director', 'Number of Screens', 'Revenue(INR)',
       'Budget(INR)'],
      dtype='object')

In [17]:
df.values

array([['Golden Boys', 'Normal', 'No', ..., 5, 5000000, 85000],
       ['Kaccha Limboo', 'Holiday', 'No', ..., 75, 15000000, 825000],
       ['Not A Love Story', 'Holiday', 'No', ..., 525, 75000000,
        56700000],
       ...,
       ['Dunno Y Na Jaane Kyun', 'Normal', 'No', ..., 20, 12500000,
        850000],
       ['Taj Mahal - An Eternal Love Story', 'Normal', 'No', ..., 135,
        100000000, 31065000],
       ['Mr. Hot Mr. Kool', 'Normal', 'No', ..., 30, 27500000, 1300000]],
      dtype=object)

In [20]:
df.head()

,Movie Name,Release Period,Whether Remake,Whether Franchise,Genre,New Actor,New Director,New Music Director,Lead Star,Director,Music Director,Number of Screens,Revenue(INR),Budget(INR)
0,Golden Boys,Normal,No,No,suspense,Yes,No,No,Jeet Goswami,Ravi Varma,Baba Jagirdar,5,5000000,85000
1,Kaccha Limboo,Holiday,No,No,drama,Yes,No,Yes,Karan Bhanushali,Sagar Ballary,Amardeep Nijjer,75,15000000,825000
2,Not A Love Story,Holiday,No,No,thriller,No,No,No,Mahie Gill,Ram Gopal Verma,Sandeep Chowta,525,75000000,56700000
3,Qaidi Band,Holiday,No,No,drama,Yes,No,No,Aadar Jain,Habib Faisal,Amit Trivedi,800,210000000,4500000
4,Chaatwali,Holiday,No,No,adult,Yes,Yes,Yes,Aadil Khan,Aadil Khan,Babloo Ustad,1,1000000,1075000

In [23]:
df.tail()

,Movie Name,Release Period,Whether Remake,Whether Franchise,Genre,New Actor,New Director,New Music Director,Lead Star,Director,Music Director,Number of Screens,Revenue(INR),Budget(INR)
1693,Fight Club,Holiday,No,No,action,No,Yes,No,Zayed Khan,Vikram Chopra,Pritam,375,82500000,88862500
1694,Strings Of Paasion,Normal,No,No,drama,No,Yes,Yes,Zeenat Aman,Sanghamitra Chaudhuri,Dev Sikdar,10,8000000,70000
1695,Dunno Y Na Jaane Kyun,Normal,No,No,drama,No,No,No,Zeenat Aman,Sanjay Sharma,Nikhil,20,12500000,850000
1696,Taj Mahal - An Eternal Love Story,Normal,No,No,drama,No,Yes,No,Zulfi Sayed,Akbar Khan,Naushad,135,100000000,31065000
1697,Mr. Hot Mr. Kool,Normal,No,No,comedy,No,No,Yes,Zulfi Sayed,Partho Ghosh,Rishi - Ranjit,30,27500000,1300000

In [27]:
# Creates a sample space of some size
df.sample(5)

,Movie Name,Release Period,Whether Remake,Whether Franchise,Genre,New Actor,New Director,New Music Director,Lead Star,Director,Music Director,Number of Screens,Revenue(INR),Budget(INR)
1617,The Dirty Picture,Normal,No,No,drama,No,No,No,Vidya Balan,Milan Luthria,Vishal - Shekhar,1600,310000000,1169997500
994,Julie 2,Holiday,No,Yes,thriller,Yes,No,Yes,Raai Laxmi,Deepak Shivdasani,Atif Ali,1000,85000000,33100000
1040,Who's There? Kaun Hai Wah?,Normal,No,No,suspense,Yes,Yes,No,Rajbeer Singh,Ejaz Ahmed,Dinu,150,17500000,2900000
591,Billu,Holiday,Yes,No,comedy,No,No,No,Irrfan Khan,Priyadarshan,Pritam,1050,270000000,474512500
884,Babumoshai Bandookbaaz,Holiday,No,No,drama,No,No,No,Nawazuddin Siddiqui,Kushan Nandy,Gaurav Dagaonkar,950,100000000,126200000

In [29]:
# Gives info about how many missing values in each columns and shows memory space taken in RAM
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1698 entries, 0 to 1697
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Movie Name          1698 non-null   object
 1   Release Period      1698 non-null   object
 2   Whether Remake      1698 non-null   object
 3   Whether Franchise   1698 non-null   object
 4   Genre               1698 non-null   object
 5   New Actor           1698 non-null   object
 6   New Director        1698 non-null   object
 7   New Music Director  1698 non-null   object
 8   Lead Star           1698 non-null   object
 9   Director            1698 non-null   object
 10  Music Director      1698 non-null   object
 11  Number of Screens   1698 non-null   int64
 12  Revenue(INR)        1698 non-null   int64
 13  Budget(INR)         1698 non-null   int64
dtypes: int64(3), object(11)
memory usage: 185.8+ KB